
<div class= "signup-form" >
  <br>
  <h3 class="sign-up-heading">Sign Up </h3>
  <br>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="username">
            UserName
          </label>
          <div> 
            <input id="username" type="text" formControlName="username" class="input-box" > 
          </div>  
        </div>
        <br>
        <div>
          <label for="email">
            Email
          </label>
          <div><input id="email" type="email" formControlName="email" class="input-box" > </div>
        </div>
        <br>
        <p>
          Enter password more than size 8 
        </p>
        <div>
          <label for="password">
            Password
          </label>
          <div>
            <input id="password" type="password" formControlName="password" class="input-box" > 
          </div>
        </div>
        <br>
        <div>
          <label for="Password Confirmation">
            Password Confirmation
          </label>
          <div>
            <input id="PasswordConfirmation" type="password" formControlName="password_confirmation" class="input-box" >
          </div>
        </div>
        <br>
      <button [disabled]="!signupForm.valid" class="button" type="submit">Sign Up </button>
    </form>

  <br>
  <p>
    Already a user
  </p>
  <button (click)="signin()" class="button" >
    SIGNIN 
  </button>


</div>

